@font-face {
    font-family: poppins;
    src: url('Poppins-Regular.ttf');
  }
  .hmlk{
    background-image: url('./Images/6\ 2.png');

  }
  *{

    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.8);
  }

  #toFix{
    height: 40px;
  }
  header{
    justify-content: center;
    margin: 0;
    margin-left: 68px;  
    margin-bottom: 80px;  
  }
  h1{

    margin-bottom: 15px;
    font-family: poppins;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    background: -webkit-linear-gradient(rgba(0, 169, 207, 1), rgba(0, 153, 103, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #Soai{
    font-family: poppins;
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    color: rgba(245, 245, 245, 1);

  }
  legend{
    font-size: 25px;
    text-align: center;
    background-color: transparent;
    padding: 5px;
   }
   fieldset{

  border: 4px solid transparent;
  border-image: linear-gradient(90deg, transparent, hsla(160, 99%, 30%, 0), hsla(191, 99%, 41%, 1), hsla(191, 99%, 41%, 1), hsla(160, 99%, 30%, 0), transparent) 1 0 0 0;

    border-left: 0; 
    border-right: 0;
    padding-bottom: 60px;
    padding-top: 20px;
    background-color: transparent;

   }

   sup{
    background-color: transparent;
    color: red;
   }
   form{

    padding-top: 40px;
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
   }
   label{
    background-color: transparent;
   }
   label input {
      display: block;  
   }
   label select{
      display: block;
   }
  input {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 50px;
    background: rgba(217, 217, 217, 0.19);
    border-radius: 6px;
    border-color: transparent;
  }

  input:focus {
    border: 5px solid transparent;
  border-image: linear-gradient(90deg, rgba(1, 153, 103, 1), rgba(1, 169, 207, 1)) 1 1 1 1 ;
  }
  select{
    margin-top: 24px;
    margin-bottom: 30px;
    width: 340px;
    height: 50px;
    background: rgba(217, 217, 217, 0.19);
    border-radius: 6px;
  }
  select:focus {
    border: 5px solid transparent;
  border-image: linear-gradient(90deg, rgba(1, 153, 103, 1), rgba(1, 169, 207, 1)) 1 1 1 1 ;
  }

  select option{
    background-color: rgba(0, 2, 47, 1);
  }

  textarea{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 256px;
    background: rgba(217, 217, 217, 0.19);
    border-radius: 6px;
  }
  textarea:focus {
    border: 5px solid transparent;
  border-image: linear-gradient(90deg, rgba(1, 153, 103, 1), rgba(1, 169, 207, 1)) 1 1 1 1 ;
  }


  .divv{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;

   }

  @media (max-width: 767px) {
    .divv {
      flex-direction: column;
      padding-left: 0;
    }
    div {
      margin-bottom: 10px;
    }
  }
  div{
    background-color: transparent;
  }
  .container {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50%;
  }
  @media screen and (max-width: 767px) {
    .container {
      grid-template-columns: auto;
      column-gap: 0;
    }
  }
  #moti{
    padding-top: 20px;
  }



  .button-container {

    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-left: 10%;
    padding-right: 10%;
    height: 120px;


  }
  .cancel-button{
    background-color: rgba(0, 2, 47, 1);
    border: 5px solid  ;
    border-color: #019B72 #01A9CF;
    border-style: double;
    border-radius: 15px;

  }
  .submit-button{
    color: white;
    border: 5px solid rgba(0, 2, 47, 1);
    border-style: double;
    border-radius: 15px;
    background: linear-gradient(90.04deg, #01A9CF 0.56%, #019B72 106.4%, rgba(217, 217, 217, 0) 106.4%);
  }

  .submit-button,
  .cancel-button {
    width: 40%;
    height: 66px;  

    cursor: pointer;


  }

  mark{
    background-color: transparent;
    color: red;
    text-decoration: underline;
    font-weight: bold;
  }

  sub{
    font-size: 12px;
  }